/bower_components
/resources/public/bundle-deps.js
/resources/public/bundle-deps-worker.js
/classes/
figwheel_server.log
/index.html
*.jar
.lein-deps-sum
.lein-plugins/
.lein-repl-history
/lib/
/node_modules
npm-debug.log
/out.dev/
/out.dev.client/
/out.prod/
/out.prod.client/
/out.scripts/
pom.xml
*.swp
/target/
/download/
/resources/public/js/client.js
/resources/public/js/worker.js
/resources/public/js/cljs-runtime/
/resources/public/js/manifest.json
/node/
