doctype html
html
  head
    title emhrts - Unnamed Real Time Strategy Game
    meta(charset='utf-8')
    // Latest bootstrap compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    script(type='text/javascript', src='jscache/three.min.js')
    script(type='text/javascript', src='jscache/stats.js')
    script(type='text/javascript', src='jscache/tween.js')
    script(type='text/javascript', src='jscache/simplex-noise.js')
    script(type='text/javascript', src='jscache/physi.js')
    script(type='text/javascript', src='jscache/dat.gui.min.js')
    // <script type="text/javascript" src="jscache/OrbitControls.js"></script>
    // <script type="text/javascript" src="js/MapControls.js"></script>
    script(type='text/javascript', src='bundle.js')
  body
    #viewport
    .controls
      .minimap
        h3 Minimap
      .unitinfo
        h3 Unit Info
        .debug
        .content
      .actions
        h3 Actions
        button.btn.btn-default.btn-lg.disabled(type='button')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          |  Move
        button.btn.btn-default.btn-lg.disabled(type='button')
          span.glyphicon.glyphicon-flash(aria-hidden='true')
          |  Attack
    script#sky-vertex(type='application/x-glsl').
      varying vec2 vUV;
      void main() {
      vUV = uv;
      vec4 pos = vec4(position, 1.0);
      gl_Position = projectionMatrix * modelViewMatrix * pos;
      }
    script#sky-fragment(type='application/x-glsl').
      uniform sampler2D texture;
      varying vec2 vUV;
      void main() {
      vec4 sample = texture2D(texture, vUV);
      gl_FragColor = vec4(sample.xyz, sample.w);
      }
