doctype html
html
  head
    title emhrts - Unnamed Real Time Strategy Game
    meta(charset='utf-8')
    // Latest bootstrap compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    script(type='text/javascript', src='jscache/stats.js')
    script(type='text/javascript', src='jscache/simplex-noise.js')
    script(type='text/javascript', src='jscache/dat.gui.min.js')
    script(type='text/javascript', src='jscache/three.min.js')
    // <script type="text/javascript" src="jscache/OrbitControls.js"></script>
    // <script type="text/javascript" src="js/MapControls.js"></script>
    script(type='text/javascript', src='bundle.js')
    // script(type='application/javascript;version=1.8', src='bundle2.js')
  body
    #viewport
    .controls
      .minimap
      .unitinfo
        h3 Unit Info
        .progress
          .progress-bar.progress-bar-striped.active(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
            span.sr-only 0% Complete
        .debug
        .content
      .actions
        h3 Actions
        button.btn.btn-default.btn-lg.disabled(type='button')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          |  Move
        button.btn.btn-default.btn-lg.disabled(type='button')
          span.glyphicon.glyphicon-flash(aria-hidden='true')
          |  Attack

    script#modelSizes(type='application/json')
      include ./json/modelSizes.json

    script#sky-vertex(type='application/x-glsl')
      include ./shaders/sky-vertex.glsl
    script#sky-fragment(type='application/x-glsl')
      include ./shaders/sky-fragment.glsl
    script#loader-vertex(type='application/x-glsl')
      include ./shaders/loader-vertex.glsl
    script#loader-fragment(type='application/x-glsl')
      include ./shaders/loader-fragment.glsl
    script#health-vertex(type='application/x-glsl')
      include ./shaders/health-vertex.glsl
    script#health-fragment(type='application/x-glsl')
      include ./shaders/health-fragment.glsl
    script#water-vertex(type='application/x-glsl')
      include ./shaders/water-vertex.glsl
    script#water-fragment(type='application/x-glsl')
      include ./shaders/water-fragment.glsl
