.invisible {
  visibility: hidden;
}
.top-page {
  position: absolute;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
}

.game-buttons {
  display: block;
}

.game-list li,
.user-list li {
  border-bottom: 1px solid #90bade;  
  background: rgb(33, 117, 188);
  margin: 0;
  list-style: none;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
  padding: 5px;
  border-left: 10px solid rgb(25, 88, 183);
  border-right: 10px solid rgb(80, 143, 196);
}

.game-list li:hover,
.user-list li:hover,
.game-list li.selected {
  background: orange;
}

.top-page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#page-game {
  width: 100%;
}

#page-game,
#page-game-test {
  height: 100%;
}

#page-game .container,
#page-game-test .container {
  height: 100%;
}

#page-game-test #game {
  position: relative;
  width: 100%;
  height: 50%;
}

body.fullscreen {
  overflow: hidden;
}

.game-content {
  position: absolute;
}
.game-content.fullscreen {
  position: fixed;
  left: 0;
}

#page-game-test #game.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
}

